{% extends '@XutimCore/admin/modalBase.html.twig' %}
{% import '@XutimCore/admin/common/badges.html.twig' as badges %}
{% set title = 'Edit block item'|trans({}, 'admin') %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block body %}
    <div class="rounded-xl border border-border">
        <div class="px-4 py-3 border-b border-border">
            <h3 class="text-base font-semibold text-content">{{ title }}</h3>
        </div>
        <div class="p-4">
            {{ include('@XutimCore/admin/block/_block_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="replace" targets="#block-item-{{ item.id }}">
        <template>
            {{ include('@XutimCore/admin/block/_block_item_row.html.twig') }}
        </template>
    </turbo-stream>
{% endblock %}
