{% macro render_list(pages, ids, selectedId, openIds, canEdit,
    transEdit, transNewPage, transNewArticle, transMoveUp, transMoveDown
) %}
    {% import '@XutimCore/admin/common/icons.html.twig' as icons %}
    {% for id in ids %}
        {% set node = pages[id] %}
        {% set page = node.page %}
        {% set translation = node.translation %}
        {% set hasChildren = node.children is not empty %}
        {% set isSelected = selectedId and selectedId == id %}
        {% set opened = openIds is defined and openIds[id] is defined %}

        <li class="my-2 ml-3{{ isSelected ? ' bg-amber-50 dark:bg-amber-500/10' : '' }}">
            {% if not hasChildren %}
                {{ _self.line(page, translation, isSelected, false, false, canEdit,
                    transEdit, transNewPage, transNewArticle, transMoveUp, transMoveDown) }}
            {% else %}
                <details{{ opened ? ' open="open"' : '' }}>
                    <summary class="ml-2{{ isSelected ? ' font-bold' : '' }}">
                        {{ _self.line(page, translation, isSelected, loop.first, loop.last, canEdit,
                            transEdit, transNewPage, transNewArticle, transMoveUp, transMoveDown) }}
                    </summary>
                    <ul class="list-none">
                        {{ _self.render_list(pages, node.children, selectedId, openIds, canEdit,
                            transEdit, transNewPage, transNewArticle, transMoveUp, transMoveDown) }}
                    </ul>
                </details>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro line(page, translation, isSelected, first, last, canEdit,
    transEdit, transNewPage, transNewArticle, transMoveUp, transMoveDown
) %}
    {% import '@XutimCore/admin/common/translatable.html.twig' as translatable %}
    {% import '@XutimCore/admin/common/icons.html.twig' as icons %}
    {% import '@XutimCore/admin/common/badges.html.twig' as badges %}
    <span class="mr-1"></span>

    {% if translation.locale != content_context_language() %}
        {{ translatable.languageBadge(translation) }}
    {% else %}
        {{ badges.publicationStatusBadge(translation) }}
    {% endif %}

    <a href="{{ admin_path('admin_page_list', {id: page.id}) }}" class="text-content hover:text-content">
        <span class="{{ isSelected ? 'font-bold' : '' }}">
            {{ translation.title }}
        </span>
    </a>

    {% if canEdit %}
        <twig:Xutim:Admin:Dropdown placement="bottom-end" class="float-right" menuClass="min-w-[160px] rounded-lg border border-border bg-surface shadow-lg py-1">
            <twig:block name="trigger">
                <twig:Xutim:Admin:Button
                    tag="button"
                    variant="ghost"
                    class="!p-1"
                    data-action="click->dropdown#toggle"
                    aria-label="Menu"
                >
                    <twig:ux:icon name="ph:dots-three" class="h-4 w-4 shrink-0" />
                </twig:Xutim:Admin:Button>
            </twig:block>
            <twig:block name="content">
                <twig:Xutim:Admin:Button tag="a" variant="dropdown" href="{{ admin_path('admin_page_edit', {id: page.id}) }}">
                    <twig:ux:icon name="ph:pencil-simple" class="h-4 w-4 shrink-0" /> {{ transEdit }}
                </twig:Xutim:Admin:Button>
                <div class="border-t border-border my-1"></div>
                <twig:Xutim:Admin:Button tag="a" variant="dropdown" href="{{ admin_path('admin_page_new', {id: page.id}) }}">
                    <twig:ux:icon name="ph:folder-simple" class="h-4 w-4 shrink-0" /> {{ transNewPage }}
                </twig:Xutim:Admin:Button>
                <twig:Xutim:Admin:Button tag="a" variant="dropdown" href="{{ admin_path('admin_article_new', {id: page.id}) }}">
                    <twig:ux:icon name="ph:newspaper" class="h-4 w-4 shrink-0" /> {{ transNewArticle }}
                </twig:Xutim:Admin:Button>
                {% if not first or not last %}
                    <div class="border-t border-border my-1"></div>
                    {% if not first %}
                        <twig:Xutim:Admin:Button tag="a" variant="dropdown" href="{{ admin_path('admin_page_move', {id: page.id, dir: 'up'}) }}">
                            <twig:ux:icon name="ph:arrow-up" class="h-4 w-4 shrink-0" /> {{ transMoveUp }}
                        </twig:Xutim:Admin:Button>
                    {% endif %}
                    {% if not last %}
                        <twig:Xutim:Admin:Button tag="a" variant="dropdown" href="{{ admin_path('admin_page_move', {id: page.id, dir: 'down'}) }}">
                            <twig:ux:icon name="ph:arrow-down" class="h-4 w-4 shrink-0" /> {{ transMoveDown }}
                        </twig:Xutim:Admin:Button>
                    {% endif %}
                {% endif %}
            </twig:block>
        </twig:Xutim:Admin:Dropdown>
    {% endif %}
{% endmacro %}
