{% import '@XutimCore/admin/common/badges.html.twig' as badges %}
{% import '@XutimCore/admin/common/translatable.html.twig' as translatable %}

<div class="card mb-3 p-0">
    <div class="card-header">
        <h3 class="card-title">
            <twig:Xutim:Admin:Icon name="article" />
            {{ title }}
        </h3>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-vcenter">
            <thead>
                <tr>
                    <th
                        class="w-1"
                        title="{{ 'Publication status'|trans({}, 'admin') }}"
                        data-controller="tooltip"
                    >
                        S
                    </th>
                    <th>{{ 'Title'|trans({}, 'admin') }}</th>
                    <th>{{ 'Author'|trans({}, 'admin') }}</th>
                    <th class="w-10">{{ 'Translated'|trans({}, 'admin') }}</th>
                    <th>{{ 'Updated at'|trans({}, 'admin') }}</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    {% set articleTrans = article.translationByLocaleOrAny(content_context_language()) %}
                    {% set articleTransStats = articleTrans.article.translationStats %}
                    {% set translationPerc = 100 * articleTransStats.translated / site_context.locales|length %}
                    <tr>
                        <td>
                            {{ badges.publicationStatusBadge(articleTrans) }}
                        </td>
                        <td>
                            <a
                                href="{{ path('admin_article_show', {id: articleTrans.article.id}) }}"
                            >
                                {{ translatable.languageBadge(articleTrans) }}
                                {{ articleTrans.title }}
                            </a>
                        </td>
                        <td>{{ articleTrans.article|article_author_name }}</td>
                        <td class="w-10">
                            <div class="progress progress-sm">
                                <div
                                    class="progress-bar bg-primary"
                                    style="width: {{ translationPerc }}%"
                                ></div>
                            </div>
                        </td>
                        <td
                            title="{{ articleTrans.getUpdatedAt|date('d/m/Y H:i') }}"
                            data-controller="tooltip"
                        >
                            {{ articleTrans.getUpdatedAt|date('d/m/Y') }}
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
