{% extends '@XutimCore/admin/modalBase.html.twig' %}
{% import '@XutimCore/admin/common/forms.html.twig' as forms %}
{% set title = 'edit page'|trans({}, 'admin')|capitalize ~ ' - ' ~ page.defaultTranslation.title %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header p-3">
            <h3 class="card-title">{{ title }}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{
                form_row(form.parent, {
                    attr: {
                        'data-controller': 'tom-select',
                    },
                })
            }}

            <div class="mb-3">
                {{ form_label(form.color) }}
                {{ forms.colorInput(form.color.vars.full_name, page.color.isSet() ? page.color.hex : '') }}
                {{ form_errors(form.color) }}
            </div>

            {{ form_row(form.submit) }}
            {{ form_row(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}

{% block success_stream %}
    <turbo-stream action="replace" targets="#page-parent-link">
        <template>
            {% if page.parent != null %}
                <a
                    href="{{ path('admin_page_list', {id: page.parent.id}) }}"
                    id="page-parent-link"
                >
                    {{ page.parent.defaultTranslation.title|truncate(27) }}
                </a>
            {% endif %}
        </template>
    </turbo-stream>

    <turbo-stream action="replace" targets="#page-color-item">
        <template>
            <div
                id="page-color-item"
                class="badge"
                style="background-color: {{ page.color.HTMLHex }};"
            >
                &ensp;
            </div>
        </template>
    </turbo-stream>
{% endblock %}
