{% extends '@XutimCore/admin/base.html.twig' %}
{% import '@XutimCore/admin/common/translatable.html.twig' as translatable %}

{% block pageTitle %}
    <h1 class="page-title">
        {% if translation %}
            {{ translation.name }}
        {% elseif media.innerName %}
            {{ media.innerName }}
        {% else %}
            {{ media.originalPath|split('/')|last }}
        {% endif %}
    </h1>
{% endblock %}

{% block languageBar %}
    <twig:Xutim:Admin:LanguageContextBar
        :entity="media"
        :simpleTranslation="true"
        class="flex justify-end items-center mb-2"
    />
{% endblock %}

{% block sidebar %}
    <twig:Xutim:Admin:Sidebar :title="">
        <twig:block name="header">
            <twig:Xutim:Admin:SidebarTabs>
                <twig:Xutim:Admin:SidebarTab target="general-tab">
                    <twig:Xutim:Admin:Button
                        variant="tab"
                        type="a"
                        class="active"
                        data-bs-toggle="tab"
                        href="#general-tab"
                        role="tab"
                        aria-controls="general-tab"
                        aria-selected="true"
                    >
                        General
                    </twig:Xutim:Admin:Button>
                </twig:Xutim:Admin:SidebarTab>
            </twig:Xutim:Admin:SidebarTabs>
        </twig:block>
        <twig:block name="content">
            <div class="tab-content">
                <div id="general-tab" class="tab-pane active" role="tabpanel">
                    <div class="mb-3">
                        <twig:Xutim:Admin:SidebarSection>
                            <twig:Xutim:Admin:SidebarItem id="media-inner-name-sidebar-item">
                                <twig:block name="header">
                                    {{ 'inner name'|trans({}, 'admin')|capitalize }}:
                                </twig:block>
                                <twig:block name="content">
                                    {{ media.innerName ?: '-' }}

                                    <div class="inline-flex ml-auto">
                                        <twig:Xutim:Admin:Button
                                            tag="a"
                                            variant="link"
                                            class="p-0"
                                            data-turbo-frame="modal"
                                            href="{{ admin_path('admin_media_inner_name_edit', {id: media.id}) }}"
                                        >
                                            <twig:ux:icon name="ph:pencil-simple" class="icon" />
                                        </twig:Xutim:Admin:Button>
                                    </div>
                                </twig:block>
                            </twig:Xutim:Admin:SidebarItem>
                            <twig:Xutim:Admin:SidebarItem id="media-copyright-sidebar-item">
                                <twig:block name="header">
                                    {{ 'copyright'|trans({}, 'admin')|capitalize }}:
                                </twig:block>
                                <twig:block name="content">
                                    {{ media.copyright ?? '-' }}

                                    <div class="inline-flex ml-auto">
                                        <twig:Xutim:Admin:Button
                                            tag="a"
                                            variant="link"
                                            class="p-0"
                                            data-turbo-frame="modal"
                                            href="{{ admin_path('admin_media_copyright_edit', {id: media.id}) }}"
                                        >
                                            <twig:ux:icon name="ph:pencil-simple" class="icon" />
                                        </twig:Xutim:Admin:Button>
                                    </div>
                                </twig:block>
                            </twig:Xutim:Admin:SidebarItem>
                        </twig:Xutim:Admin:SidebarSection>
                        <twig:Xutim:Admin:SidebarSection>
                            <twig:Xutim:Admin:SidebarHeader>
                                {{ 'original file'|trans({}, 'admin')|capitalize }}
                            </twig:Xutim:Admin:SidebarHeader>
                            <twig:Xutim:Admin:SidebarItem>
                                <twig:block name="header">
                                    {{ 'file size'|trans({}, 'admin')|capitalize }}:
                                </twig:block>
                                <twig:block name="content">
                                    {{ (media.sizeBytes / 1024)|round(0) }} KB
                                </twig:block>
                            </twig:Xutim:Admin:SidebarItem>
                            <twig:Xutim:Admin:SidebarItem>
                                <twig:block name="header">
                                    {{ 'image dimensions'|trans({}, 'admin')|capitalize }}:
                                </twig:block>
                                <twig:block name="content">
                                    {{ media.width }} × {{ media.height }}
                                </twig:block>
                            </twig:Xutim:Admin:SidebarItem>
                            <twig:Xutim:Admin:SidebarItem>
                                <twig:block name="header">
                                    {{ 'format'|trans({}, 'admin')|capitalize }}:
                                </twig:block>
                                <twig:block name="content">
                                    {{ media.originalExt|upper }}
                                </twig:block>
                            </twig:Xutim:Admin:SidebarItem>
                            <twig:Xutim:Admin:SidebarItem id="media-focal-point-sidebar-item">
                                <twig:block name="header">
                                    {{ 'Focal Point'|trans({}, 'admin') }}:
                                </twig:block>
                                <twig:block name="content">
                                    {% if media.focalX and media.focalY %}
                                        {{ media.focalX|number_format(2) }}, {{ media.focalY|number_format(2) }}
                                    {% else %}
                                        {{ 'Center (default)'|trans({}, 'admin') }}
                                    {% endif %}

                                    {% if media.isImage %}
                                        <div class="inline-flex ml-auto">
                                            <twig:Xutim:Admin:Button
                                                tag="a"
                                                variant="link"
                                                class="p-0"
                                                data-turbo-frame="modal"
                                                href="{{ admin_path('admin_media_focal_point_edit', {id: media.id}) }}"
                                            >
                                                <twig:ux:icon name="ph:pencil-simple" class="icon" />
                                            </twig:Xutim:Admin:Button>
                                        </div>
                                    {% endif %}
                                </twig:block>
                            </twig:Xutim:Admin:SidebarItem>
                            {% if media.folder %}
                                <twig:Xutim:Admin:SidebarItem>
                                    <twig:block name="header">
                                        {{ 'folder'|trans({}, 'admin')|capitalize }}:
                                    </twig:block>
                                    <twig:block name="content">
                                        {{ media.folder.name }}
                                    </twig:block>
                                </twig:Xutim:Admin:SidebarItem>
                            {% endif %}
                            <twig:Xutim:Admin:SidebarItem>
                                <twig:block name="content">
                                    <twig:Xutim:Admin:Button
                                        class="text-accent hover:text-accent/80 flex justify-start"
                                        variant="default"
                                        data-controller="clipboard"
                                        data-clipboard-text="/media/{{ media.originalPath }}"
                                        data-bs-toggle="popover"
                                        data-bs-container="body"
                                        data-bs-placement="top"
                                        data-bs-content="{{ 'message.copied'|trans|capitalize }}!"
                                    >
                                        {{ 'copy link to the original file'|trans({}, 'admin')|capitalize }}
                                    </twig:Xutim:Admin:Button>
                                </twig:block>
                            </twig:Xutim:Admin:SidebarItem>
                            <twig:Xutim:Admin:SidebarItem>
                                <twig:block name="content">
                                    <twig:Xutim:Admin:Button
                                        tag="a"
                                        class="text-accent hover:text-accent/80 flex justify-start"
                                        variant="default"
                                        data-turbo-frame="modal"
                                        href="{{ admin_path('admin_media_replace', {id: media.id}) }}"
                                    >
                                        <twig:ux:icon name="ph:upload-simple" class="w-4 h-4" /> {{ 'replace file'|trans({}, 'admin')|capitalize }}
                                    </twig:Xutim:Admin:Button>
                                </twig:block>
                            </twig:Xutim:Admin:SidebarItem>
                        </twig:Xutim:Admin:SidebarSection>
                    </div>
                </div>
            </div>
        </twig:block>
    </twig:Xutim:Admin:Sidebar>
{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">
            <a href="{{ admin_path('admin_media_list') }}">{{ 'Media'|trans({}, 'admin') }}</a>
        </li>
        <li class="breadcrumb-item active">
            {% if translation %}
                {{ translation.name }}
            {% elseif media.innerName %}
                {{ media.innerName }}
            {% else %}
                {{ media.originalPath|split('/')|last }}
            {% endif %}
        </li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block pageMenu %}
    <twig:Xutim:Admin:Button
        tag="button"
        onclick="window.dispatchEvent(new Event('sidebar:toggle'))"
        variant="nav"
    >
        <twig:ux:icon name="ph:sidebar-simple" class="icon mr-1" />
        Sidebar
    </twig:Xutim:Admin:Button>
{% endblock %}

{% block body %}
    <div class="rounded-xl border border-border mb-4">
        <div class="p-4">
            <div class="flex flex-wrap -mx-2">
                <div class="md:w-1/3 flex items-center justify-center">
                    <div class="media-container flex justify-center items-center">
                        {% if media.isImage %}
                            <a
                                href="{{ admin_path('admin_media_focal_point_edit', {id: media.id}) }}"
                                data-turbo-frame="modal"
                                class="text-accent hover:text-accent/80"
                            >
                                <twig:XutimMedia:Admin:Picture
                                    :media="media"
                                    preset="thumb_large"
                                    alt=""
                                    class="p-1"
                                    style="max-width: 300px; max-height: 300px"
                                />
                            </a>
                        {% else %}
                            <button
                                data-lightbox-url-value="/media/{{ media.originalPath }}"
                                data-controller="lightbox"
                                data-action="click->lightbox#open"
                                class="text-accent hover:text-accent/80"
                            >
                                <twig:XutimMedia:Admin:Picture
                                    :media="media"
                                    preset="thumb_large"
                                    alt=""
                                    class="p-1"
                                    style="max-width: 300px; max-height: 300px"
                                />
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="md:w-2/3">
                    <div class="p-4">
                        <h3 class="mb-3">{{ 'Translation'|trans({}, 'admin') }}</h3>
                        {{ form_start(form, {attr: {'data-turbo-action': 'advanced'}}) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.alt) }}
                        {{ form_row(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if media.isImage %}
        <div class="rounded-xl border border-border"
             data-controller="xutim-media--regenerate-variants"
             data-xutim-media--regenerate-variants-regenerate-url-value="{{ admin_path('admin_media_regenerate_variants', {id: media.id}) }}"
             data-xutim-media--regenerate-variants-mercure-topic-value="{{ mercure('media/' ~ media.id ~ '/variants', { subscribe: 'media/' ~ media.id ~ '/variants', hub: 'default' }) }}"
        >
            <div class="border-b border-border px-4 py-3 flex items-center">
                <span class="text-lg font-semibold">{{ 'Generated image sizes'|trans({}, 'admin') }}</span>
                <span data-xutim-media--regenerate-variants-target="progress"
                      class="text-content-secondary text-sm ml-2 hidden"></span>
                <button data-action="xutim-media--regenerate-variants#regenerate"
                        data-xutim-media--regenerate-variants-target="button"
                        class="btn btn-sm btn-outline-primary ml-auto"
                        type="button">
                    {{ 'Regenerate'|trans({}, 'admin') }}
                </button>
            </div>
            <div class="p-0">
                <div class="divide-y divide-border" id="presetAccordion">
                    {% for data in previewData %}
                        <div class="">
                            <div class="">
                                <button
                                    class="flex items-center w-full py-2 px-3 text-left hover:bg-surface-raised"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#preset-{{ data.preset.name }}"
                                    aria-expanded="false"
                                    aria-controls="preset-{{ data.preset.name }}"
                                    style="font-size: inherit;"
                                >
                                    <div class="flex items-center w-full gap-3">
                                        <strong class="ml-auto">{{ data.preset.name }}</strong>
                                        <span class="text-content-secondary text-sm">{{ data.preset.maxWidth }}×{{ data.preset.maxHeight }}</span>
                                        <span class="inline-flex items-center rounded-full px-2 py-0.5 text-[11px] font-medium bg-green-100 text-green-700 dark:bg-green-500/20 dark:text-green-400">{{ data.preset.fitMode.value }}</span>
                                        <span class="text-content-secondary text-sm">{% for fmt, q in data.preset.quality %}{{ fmt }} {{ q }}{% if not loop.last %}, {% endif %}{% endfor %}</span>
                                        {% if data.variants is empty %}
                                            <span class="inline-flex items-center rounded-full px-2 py-0.5 text-[11px] font-medium bg-amber-100 text-amber-700 dark:bg-amber-500/20 dark:text-amber-400" data-preset-badge="{{ data.preset.name }}">{{ 'Not generated'|trans({}, 'admin') }}</span>
                                        {% else %}
                                            <span class="inline-flex items-center rounded-full px-2 py-0.5 text-[11px] font-medium bg-green-100 text-green-700 dark:bg-green-500/20 dark:text-green-400" data-preset-badge="{{ data.preset.name }}">{{ data.variants|length }} {{ 'variants'|trans({}, 'admin') }}</span>
                                        {% endif %}
                                    </div>
                                </button>
                            </div>
                            <div
                                id="preset-{{ data.preset.name }}"
                                class="accordion-collapse collapse"
                                data-bs-parent="#presetAccordion"
                            >
                                <div class="p-4">
                                    {% if data.variants is empty %}
                                        <div class="text-content-secondary">{{ 'No variants generated for this preset.'|trans({}, 'admin') }}</div>
                                    {% else %}
                                        {% set webpVariants = data.variants|filter(v => v.variant.format == 'webp') %}
                                        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
                                            {% for variantData in webpVariants %}
                                                <div class="w-auto">
                                                    <div class="rounded-xl border border-border">
                                                        <button
                                                            data-lightbox-url-value="{{ variantData.url }}"
                                                            data-controller="lightbox"
                                                            data-action="click->lightbox#open"
                                                            class="text-accent hover:text-accent/80 p-0"
                                                        >
                                                            <img
                                                                src="{{ variantData.url }}"
                                                                alt="Preview {{ variantData.variant.width }}px"
                                                                class="w-full rounded-t-xl object-cover"
                                                                style="max-height: 150px; width: auto;"
                                                            />
                                                        </button>
                                                        <div class="p-2 text-center">
                                                            <div class="font-medium">{{ variantData.variant.width }}×{{ variantData.variant.height }}</div>
                                                            <div class="flex gap-1 justify-center mt-1">
                                                                {% for v in data.variants|filter(vv => vv.variant.width == variantData.variant.width) %}
                                                                    <span class="badge bg-{{ v.variant.format == 'avif' ? 'purple' : (v.variant.format == 'webp' ? 'blue' : 'orange') }}-lt">{{ v.variant.format|upper }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
