{% extends '@XutimCore/admin/modalBase.html.twig' %}
{% set title = 'New media file'|trans({}, 'admin') %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="rounded-xl border border-border">
        <div class="border-b border-border px-4 py-3">
            <h3 class="text-base font-semibold">{{ title }}</h3>
        </div>
        <div class="p-4">
            {{ form_start(form) }}
            {{ form_row(form.file) }}
            {{ form_row(form.innerName) }}
            {{ form_row(form.copyright) }}

            <fieldset class="border border-border rounded-lg p-3 mt-3 mb-3">
                <legend class="float-none w-auto px-2 text-base font-medium">{{ 'Translation'|trans({}, 'admin') }}</legend>
                {{ form_row(form.locale) }}
                {{ form_row(form.name) }}
                {{ form_row(form.alt) }}
            </fieldset>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="prepend" targets="#media-list">
        <template>
            <div
                class="flex-1"
                id="media-{{ media.id }}"
            >
                <div class="rounded-xl border border-border">
                    <div class="relative">
                        <a
                            href="{{ admin_path('admin_media_edit', {id: media.id}) }}"
                            class="block"
                        >
                            {% if media.isImage %}
                                <twig:XutimMedia:Admin:Picture
                                    :media="media"
                                    preset="thumb_small"
                                    alt=""
                                    class="w-full rounded-t-xl object-cover"
                                />
                            {% else %}
                                <div class="w-full rounded-t-xl flex items-center justify-center bg-surface-raised" style="height: 120px;">
                                    <twig:ux:icon name="ph:file" class="icon" />
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="p-4 border-t border-border">
                        <div class="flex items-center" title="{{ media.innerName }}">
                            {{ media.innerName }}
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </turbo-stream>
{% endblock %}
