<div class="modal" tabindex="-1" id="{{ modalTitle }}">
    <div class="fixed inset-0 flex items-center justify-center p-4" role="document">
        <div class="rounded-xl border border-border bg-surface w-full max-w-lg flex flex-col">
            <div class="flex items-center justify-between px-4 py-3 border-b border-border">
                {% if title is defined %}
                    <h5 class="text-base font-semibold text-content">{{ title }}</h5>
                {% endif %}
                <twig:Xutim:Admin:Button
                    variant="default"
                    type="button"
                    class="text-content-secondary hover:text-content"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                >
                    <twig:ux:icon name="ph:x" class="w-5 h-5" />
                </twig:Xutim:Admin:Button>
            </div>
            <div class="p-4">{% block body %}{% endblock %}</div>
            <div class="px-4 py-3 border-t border-border flex justify-between">
                <twig:Xutim:Admin:Button
                    variant="default"
                    type="button"
                    data-bs-dismiss="modal"
                >
                    {{ 'close'|trans({}, 'admin')|capitalize }}
                </twig:Xutim:Admin:Button>
                <twig:Xutim:Admin:Button
                    variant="primary"
                    type="button"
                    data-bs-dismiss="modal"
                    data-action="{{ buttonAction }}"
                >
                    {{ 'Save changes'|trans({}, 'admin') }}
                </twig:Xutim:Admin:Button>
            </div>
        </div>
    </div>
</div>
