{% import '@XutimCore/admin/common/icons.html.twig' as icons %}

<div data-controller="add-object-form">
    {{ form_start(form) }}
    <div data-add-object-form-target="newFileField">
        {{
            form_row(form.new_file, {
                attr: {
                'data-action': 'add-object-form#toggleNewFile',
            },
            })
        }}
    </div>
    {# <fieldset class="mb-3" data-add-object-form-target="existingFileField"> #}
    <div class="mb-3" data-add-object-form-target="existingFileField">
        <label class="form-label">
            {{ 'Existing file'|trans({}, 'admin') }}
        </label>
        <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
            {% for file in files %}
                <label class="form-selectgroup-item flex-fill">
                    <input
                        id="{{ form.existing_file.vars.id }}_{{ loop.index0 }}"
                        name="{{ form.existing_file.vars.full_name }}"
                        type="radio"
                        value="{{ file.id }}"
                        class="form-selectgroup-input"
                        data-action="add-object-form#toggleExistingFile"
                    />
                    <div
                        class="form-selectgroup-label d-flex align-items-center p-3"
                    >
                        <div class="me-3">
                            <span class="form-selectgroup-check"></span>
                        </div>
                        <div
                            class="form-selectgroup-label-content d-flex align-items-center"
                        >
                            {% if file.isImage() %}
                                <span
                                    class="avatar me-3"
                                    style="background-image: url({{ path('public_show_file', {ref: file.reference, extension: file.extension}) }})"
                                ></span>
                            {% else %}
                                <span class="avatar me-3">
                                    {{ icons.fileType(file.extension) }}
                                </span>
                            {% endif %}
                            <div>
                                <div class="font-weight-medium">
                                    {{ file.translationByLocaleOrAny(content_context_language()).name }}
                                </div>
                                <div class="text-secondary">
                                    {{ file.translationByLocaleOrAny(content_context_language()).alt }}
                                </div>
                            </div>
                        </div>
                    </div>
                </label>
            {% endfor %}
        </div>
    </div>
    {#
            <legend class="col-form-label">Existing file</legend>
            <div class="row g-2"
                id="{{ form.existing_file.vars.id }}">
                {% for file in files %}
                    <div class="col-6 col-sm-4">
                        <label class="form-imagecheck mb-2">
                            <input id="{{ form.existing_file.vars.id }}_{{ loop.index0 }}"
                                   name="{{ form.existing_file.vars.full_name }}"
                                   type="radio"
                                   value="{{ file.id }}"
                                   class="form-imagecheck-input"
                                   data-action="add-object-form#toggleExistingFile">
                            <span class="form-imagecheck-figure">
                                {% if file.isImage() %}
                                    <img class="form-imagecheck-image "
                                         src="{{ path('file_show',{'id': file.id, 'extension': file.extension} ) | imagine_filter('pulse_thumbnail') }}"
                                         src="{{ asset(file.id ~ '.' ~ file.extension) | imagine_filter('pulse_thumbnail') }}"
                                         alt="{{ file.translationByLocaleOrAny(content_context_language()).alt }}"
                                    >
                                {% else %}
                                    <!-- <img class="card-img-top " -->
                                    <!--      src="{{ asset('@XutimCore/admin/images/icons/file-card-image.svg') }}" -->
                                    <!--      alt="{{ file.translationByLocaleOrAny(content_context_language()).alt }}" -->
                                    <!-- > -->
                                    {{ file.translationByLocaleOrAny(content_context_language()).name }}
                                {% endif %}

                            </span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            #}
    {# </fieldset> #}
    <div data-add-object-form-target="newFileFields" hidden>
        {{ form_row(form.name) }}
        {{ form_row(form.alt) }}
        {{ form_row(form.locale) }}
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
    {# {{ form_end(form) }} #}
</div>
