<blockquote>
    {% set textMeta = meta is defined and meta.text is defined ? meta.text : null %}
    {% set captionMeta = meta is defined and meta.caption is defined ? meta.caption : null %}

    {% if textMeta and textMeta.html is defined %}
        <p>{{ textMeta.html|raw }}</p>
    {% elseif row is defined and row.parts.text.html is defined %}
        <p>{{ row.parts.text.html|raw }}</p>
    {% elseif fragment is defined and fragment.data.text is defined %}
        <p>{{ fragment.data.text|striptags('<a><b><i><em><strong><sup>')|raw }}</p>
    {% endif %}

    {% if captionMeta and captionMeta.html is defined %}
        <footer>{{ captionMeta.html|raw }}</footer>
    {% elseif row is defined and row.parts.caption.html is defined %}
        <footer>{{ row.parts.caption.html|raw }}</footer>
    {% elseif fragment is defined and fragment.data.caption|default('') is not empty %}
        <footer>{{ fragment.data.caption|striptags('<a><b><i><em><strong><sup>')|raw }}</footer>
    {% endif %}
</blockquote>
