<twig:Xutim:Admin:SidebarItem id="published-at-sidebar-item">
    <twig:block name="header">
        {% if article.isPublishingScheduled() %}
            {{ 'scheduled for'|trans({}, 'admin')|capitalize }}
        {% else %}
            {{ 'published on'|trans({}, 'admin')|capitalize }}
        {% endif %}
    </twig:block>
    <twig:block name="content">
        {% if translation.isPublished() %}
            {% if translation.publishedAt %}
                {% set dateText = translation.publishedAt|format_datetime('medium', 'short') %}
                {% if is_granted('ROLE_EDITOR') %}
                    <a href="{{ admin_path('admin_article_edit_publication_date', {id: translation.id}) }}" data-turbo-frame="modal" class="text-accent hover:underline" title="{{ translation.publishedAt|time_ago }}" data-controller="tooltip">{{ dateText }}</a>
                {% else %}
                    <span title="{{ translation.publishedAt|time_ago }}" data-controller="tooltip">{{ dateText }}</span>
                {% endif %}
            {% else %}
                -
            {% endif %}
        {% elseif article.isPublishingScheduled() %}
            <span title="{{ article.scheduledAt|time_ago }}" data-controller="tooltip">{{ article.scheduledAt|format_datetime('medium', 'short') }}</span>
        {% else %}
            {{ 'Not yet published'|trans({}, 'admin') }}
        {% endif %}
    </twig:block>
</twig:Xutim:Admin:SidebarItem>
