<twig:Xutim:Admin:SidebarItem id="translation-locales-sidebar-item">
    <twig:block name="header">{{ 'translate into'|trans({}, 'admin')|capitalize }}</twig:block>
    <twig:block name="content">
        {% set localeText %}
            {% if article.allTranslationLocales %}
                {{ 'all languages'|trans({}, 'admin') }}
            {% else %}
                {{ article.translationLocales|join(', ') }}
            {% endif %}
        {% endset %}
        {% if is_granted('ROLE_EDITOR') %}
            <a href="{{ admin_path('admin_article_translation_locales_edit', {id: article.id}) }}" data-turbo-frame="modal" class="text-accent hover:underline" id="article-translation-locales-item">{{ localeText|trim }}</a>
        {% else %}
            <span id="article-translation-locales-item">{{ localeText|trim }}</span>
        {% endif %}
    </twig:block>
</twig:Xutim:Admin:SidebarItem>
