{% extends '@XutimCore/admin/modalBase.html.twig' %}

{% set title = 'settings'|trans({}, 'admin')|capitalize %}
{% block title %}
    {{ title }}
{% endblock %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li><span class="text-content-tertiary/50">/</span></li>
        <li>
            <a href="{{ admin_path('admin_settings_site') }}" class="hover:text-content transition-colors">
                {{ 'settings'|trans({}, 'admin')|capitalize }}
            </a>
        </li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block body %}
    <div class="flex flex-col gap-6 lg:flex-row">
        <nav class="flex lg:w-44 lg:flex-col shrink-0">
            {{ include('@XutimCore/admin/settings/_settings_navigation.html.twig') }}
        </nav>
        <div class="flex-1 max-w-2xl">
            {% block settingsBody %}{% endblock %}
        </div>
    </div>
{% endblock %}
